@font-face {
	font-family: 'Gilroy';         
	src: url('../fonts/Gilroy-Semibold.woff2') format("woff2");
	font-weight: 600;                  
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';         
	src: url('../fonts/Gilroy-Bold.woff2') format("woff2"); 
	font-weight: 700;                  
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';         
	src: url('../fonts/Gilroy-Regular.woff2') format("woff2");  
	font-weight: 400;                  
	font-style: normal;
}

/*font-family: 'Gilroy', sans-serif;*/

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
	background: #FAFAFA;

}

/*==============ХИДЕР=============*/


.header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}
.header__wr {
	padding: 0 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 30px 30px;
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 11px 20px 10px 15px;
}
.header-top__logo {
}
.header-top__logo-img {
}
.header-top__item,
.header-top__contact {
	position: relative;
	display: flex;
	align-items: center;
}
.header-top__item::after{
	content: "";
	position: absolute;
	width: 1px;
	height: 50px;
	background: #FF9900;
	opacity: 0.5;
	right: -30px;
}
.header-top__item-wr{
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.header-top__img {
}

.header-top__text {
	line-height: 1.2;
	color: #000000;
}
.header-top__span {
	font-size: 14px;
	line-height: 16.8px;
}
.header-top__contact-phone {
	font-weight: 700;
	font-size: 24px;
	color: #000000;
}
.header-top__contact-phone:hover{
	color: #FF9900;
}
.header-bottom {
	display: flex;
	align-items: center;
	padding: 14px 0;
	border-top: 2px solid rgb(255 153 0 / 50%);
}
.header__menu {
}
.header__menu-list {
	display: flex;
}
.menu-list__item {
}
.menu-list__item + .menu-list__item{
	margin-left: 30px;
}
.menu-list__link {
	color: #000000;
	white-space: pre;
}
.menu-list__link:hover{
	color: #FF9900;
}
.menu-list__link-right{
	padding-right: 15px;
	position: relative;
}
.menu-list__link-right::after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 6px;
	background-image: url(../img/katalog-img.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.menu-list__link-left{
	padding-left: 23px;
	position: relative;
}
.menu-list__link-left::before{
	content: "";
	position: absolute;
	left: -2px;
	top: 0;
	width: 20px;
	height: 20px;
	background-image: url(../img/afgan-kazan.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.basket {
	margin-left: 20px;
	padding: 4px 57px 4px 17px;
	background: #FF9900;
	border-radius: 10px;
	position: relative;
}
.basket__text {
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}
.basket__img {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 116px;
	top: 5px;
}
.basket__number {
	width: 25px;
	height: 25px;
	position: absolute;
	background: #000;
	border-radius: 50%;
	top: -12px;
	right: -12px;
	font-size: 18px;
	color: #FFFFFF;
}

/*=============ПЕРВЫЙ ЭКРАН===============*/

.main{
	position: relative;
	padding-top: 231px;
	padding-bottom: 29px;
	overflow: hidden;
}
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	bottom: 0;
	opacity: 0.2;
	z-index: 1;
}
.bg1{
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.bg-corner{
	position: absolute;
	width: 100%;
	height: 646px;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 228px;
	right: 0;
	z-index: 2;
}
.main__tomate,
.main__meat,
.main__dill,
.main__pepper,
.main__cauidron-big {
	position: absolute;
	z-index: 99;
}
.main__tomate img,
.main__meat img,
.main__dill img,
.main__pepper img,
.main__cauidron-big img{
	width: 100%;
	height: 100%;
}

.main__tomate {
	width: 322px;
	height: 214px;
	top: -37px;
	right: -161px;
}
.main__meat {
	width: 410px;
	height: 303px;
	top: 133px;
	left: -155px;
}
.main__dill {
	width: 343px;
	height: 230px;
	top: 684px;
	right: -161px;
}
.main__pepper {
	width: 390px;
	height: 292px;
	top: 827px;
	right: 60px;
}
.main__cauidron-big {
	width: 761px;
	height: 820px;
	top: 51px;
	left: calc((100vw - 1920px) / 2 + 1036px);
}
.cauidron-big {
}
.container{
	position: relative;
	z-index: 5;
	max-width: 1410px;
	margin: 0 auto;
}
.main__title {
	max-width: 893px;
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.2;
	color: #392219;
}
.main__title span{
	font-size: 80px;
	line-height: 96%;
	color: #FF9900;
	text-shadow: 5px -5px #392219;
}

.main__descr {
	font-size: 36px;
	margin-top: 50px;
	margin-bottom: 14px;
}
.main__descr span{
	border-bottom: 2px solid rgb(255 153 0 / 50%);
	cursor: pointer;
}
.main__descr span:hover{
	color: #FF9900;
}
.click-popup {
	display: none;
	width: 281px;
	padding: 50px 28px 20px 20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	position: absolute;
	z-index: 9;
}

.click-popup__close {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 24px;
	border: 1px solid #000;
	border-radius: 50%;
	line-height: 1;
	padding: 0 8px;
	padding-bottom: 4px;
	cursor: pointer;
}
.click-popup__title {
	font-weight: 700;
	margin-bottom: 14px;
}
.click-popup__text {
	position: relative;
	font-size: 14px;
	padding-left: 39px;
	line-height: 120%;
}
.click-popup__text + .click-popup__text{
	margin-top: 20px;
}
.click-popup__text::before{
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	background: #FF9900;
	left: 0;
	border-radius: 50%;
	color: #fff;
	font-weight: 700;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.click-popup__text:nth-child(1):before{
	content: "1";
}
.click-popup__text:nth-child(2):before{
	content: "2";
}
.click-popup__text:nth-child(3):before{
	content: "3";
}
.click-popup__text:nth-child(4):before{
	content: "4";
}
.click-popup__img{
	margin-bottom: 5px;
	width: 100%;
	height: 150px;
}
.click-popup__img img{
	width: 100%;
	height: 100%;
}
.click-popup__note{
	font-size: 10px;
	opacity: 0.5;
	margin-top: 10px;
}
.katalog3 .click-popup{
	top: -105px;
}
.main__condition {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 17px 20px 18px 20px;
	font-size: 20px;
	margin-bottom: 11px;
}
.main__condition span{
	font-weight: 700;
}
.main__stock {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 20px 20px 51px 20px;
	position: relative;
	margin-bottom: 51px;
}
.stock__title {
	font-weight: 700;
	font-size: 24px;
	color: #D39254;
}
.stock__img {
	position: absolute;
	left: 559px;
	top: 9px;
}
.stock-box {
	display: flex;
	align-items: center;
	margin-top: 41px;
	margin-bottom: 53px;
}
.stock-box__item {
	display: flex;
	align-items: center;
}
.stock-box__item + .stock-box__item{
	margin-left: 100px;
}
.stock-box__item-img {
}
.stock-box__item-text {
	margin-left: 50px;
	font-size: 24px;
	max-width: 207px;
}
.stock__btn {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
	padding: 7px 17px;
	background: #FF4D00;
	box-shadow: 
	0px 0px 0px 1px #fff,
	0px 0px 0px 5px #FF4D00;
	border-radius: 30px;
	margin-right: 58px;
}
.stock__link {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	text-decoration-line: underline;
	color: #CD823B;
}
.main__advantage {
	position: relative;
	z-index: 5;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.advantage__wr{
	display: flex;
	justify-content: space-between;
	padding: 29px 0 32px 0;
}
.advantage__item {
	text-align: center;
}
.advantage__item-img {
}
.advantage__item-text {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	margin-top: 10px;
}


/*=======================НАШ САЙТ==============*/

.oursite{
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;

}
.oursite-in {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	position: relative;
	padding: 50px 0 81px 0;
	z-index: 2;
}
.oursite__bg-corner{
	bottom: 0;
}
.oursite__tomate{
	position: absolute;
	width: 362px;
	height: 242px;
	z-index: 99;
	top: 605px;
	right: -72px;
}
.oursite__tomate img{
	width: 100%;
	height: 100%;
}
.oursite__img {
	position: absolute;
	top: -15px;
	left: -170px;
	z-index: 5;
	background-blend-mode: normal, darken;
}
.oursite__img-title {
	position: absolute;
	top: 538px;
	left: 197px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 9px 71px 9px 70px;
}
.oursite__img-descr {
	position: absolute;
	top: 583px;
	left: 170px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 9px 12px 9px 12px;
}
.title {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 1.2;
}
.oursite__title{
	margin-left: 240px;
	position: relative;
	z-index: 9;
}
.oursite__descr {
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 1.2;
	margin-left: 240px;
	position: relative;
	z-index: 9;
	margin-bottom: 20px;
}
.oursite__descr span{
	font-weight: 400;
	font-size: 24px;
}
.oursite-wr {
	position: relative;
	z-index: 9;
	display: flex;
	justify-content: flex-end;
}
.oursite-wr + .oursite-wr{
	margin-top: 30px;
}
.oursite__item {
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 330px;
	padding: 20px 19px 30px 19px;
	text-align: center;
}
.oursite__item:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.03);
}
.oursite__item + .oursite__item{
	margin-left: 50px;
}
.oursite__item-wr {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.oursite__item-img {
	width: 50px;
	height: 50px;
	background: #FF9900;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}
.oursite__item-title {
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
	font-weight: 700;
	text-align: left;
	width: 200px;
}
.oursite__item-desc {
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
}
.oursite__item-link {
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
	line-height: 120%;
	text-decoration-line: underline;
	color: #FF9900;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 15px;
}

/*==========КАРТА РАССРОЧКИ============*/

.card {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 30px 0 30px 0;
}
.card__card-bg1,
.card__card-bg2 {
	position: absolute;
	z-index: 1;
}
.card__card-bg1 img,
.card__card-bg2 img {
	width: 100%;
	height: 100%;
}
.card__card-bg1 {
	width: 280px;
	height: 204px;
	left: -5px;
	top: 68px;
}
.card__card-bg2 {
	width: 349px;
	height: 262px;
	right: -146px;
	top: -27px;
}
.card__title {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.card__title-img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.card__title-img img{
	width: 100%;
	height: 100%;
}
.card__title-title {
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
	font-weight: 700;
	font-size: 24px;
}
.card__wr {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 43px;
}
.card__card-item {
	position: relative;
	padding: 10px 35px 70px 35px;
}
.card__card-item:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.03);
	border-radius: 10px;
}
.card-item__img {
}
.card-item__title {
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	white-space: pre;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}
.card-item__descr {
	position: absolute;
	font-size: 20px;
	bottom: 0;
	white-space: pre;
	left: 50%;
	transform: translateX(-50%);
}
.card__btn {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	padding: 7px 24px 7px 25px;
	background: #FF4D00;
	box-shadow: 
	0px 0px 20px rgba(255, 76, 0, 0.8),
	0px 0px 0px 5px #FF4D00;
}

/*=================ОРИГИНАЛЬНЫЕ КАЗАНЫ=========*/

.original {
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-top: 80px;
	background: #fff;
}
.original__title {
	max-width: 1097px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
}
.original__title span{
	font-weight: 700;
}
.original__descr {
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
	margin-bottom: 20px;
}
.original__img1 {
	border: 2px solid #FF9900;
	border-radius: 50%;
	width: 176px;
	height: 176px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}
.original__img1 img{
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}
.original__img1-title {
	position: absolute;
	width: 170px;
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
	right: -210px;
}
.original__img1-descr {
	position: absolute;
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
	bottom: -6px;
	white-space: pre;
	right: -277px;
	padding: 24px 10px 10px 71px;
	background: linear-gradient(36deg, transparent 45px, #fff 0) bottom left;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}
.original-img3{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 641px;
	width: 681px;
	height: 473px;
	background: transparent;
	background-blend-mode: darken;
	mix-blend-mode: darken;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.original-img3__img{
	width: 417px;
	height: 417px;
}
.original-img3__img img{
	width: 100%;
	height: 100%;
}
.original__original-box {
	padding-top: 10px;
	position: relative;
}
.original-box__wr {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 494px;

}
.original-box__img {
	position: relative;
	width: 176px;
	height: 176px;
	margin-right: 10px;
}
.original-box__img img{
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
}
.original-box__img-bg {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 146px;
	height: 146px;
	background: #FFFFFF;
	border: 2px solid #FF9900;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	z-index: 1;
}
.original-box__text {
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
	font-size: 24px;
	width: 375px;
}
.original-box__link{
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	padding: 7px 24px 7px 25px;
	background: #FF4D00;
	box-shadow: 
	0px 0px 20px rgba(255, 76, 0, 0.8),
	0px 0px 0px 5px #FF4D00;
}
.original-box__btn{
	font-family: 'Gilroy', sans-serif;
	line-height: 1.2;
	text-align: center;
	text-decoration-line: underline;
	color: #FF9900;
	margin-top: 33px;
	margin-bottom: 51px;
	cursor: pointer;
}

.original-box__absolute-box {
	position: absolute;
	top: 0;
	left: 1080px;
}
.absolute-box__item {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	position: relative;
}
.absolute-box__item + .absolute-box__item{
	margin-top: 34px;
}
.absolute-box__item-img {
	width: 110px;
	height: 110px;
	border: 2px solid #FF9900;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.absolute-box__item-title {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
	width: 280px;
	text-align: left;
}
.absolute-box__item-btn {
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 1.2;
	text-decoration-line: underline;
	color: #FF9900;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 120px;
}

.absolute-box__item1,
.absolute-box__item2,
.absolute-box__item3,
.absolute-box__item4,
.absolute-box__item5{
	text-align: left;
	padding: 15px;
}

.original-box__popup-original {
	display: none;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 50px;
	width: 1410px;
	position: absolute;
	top: -400px;
	z-index: 9;
}
.popup-original__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.2;
	text-align: left;
	width: 990px;
}
.popup-original__undertitle {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: left;
}
.popup-original__descr {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	text-align: left;
	max-width: 670px;
}
.popup-original__img {
	position: absolute;
	right: 50px;
	bottom: 57px;
}
.popup-original__img img + img{
	margin-left: 75px;
}
.popup-original__table {
	display: flex;
	flex-wrap: wrap;
	border-top: 2px solid #000000;
	border-left: 2px solid #000000;
	margin-top: 20px;
	margin-bottom: 30px;
}
.popup-original__item {
	position: relative;
	width: 25%;
	height: 170px;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
	padding-top: 20px;
}
.popup-original__item-img {
	width: 121px;
	height: 121px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.popup-original__item-img img{
	width: 100%;
	height: 100%;
}
.popup-original__item-title-main {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	opacity: 0.5;
	padding-top: 82px;
}
.popup-original__item2 .popup-original__item-title-main{
	color: #FF9900;
}
.popup-original__item-undertitle {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.2;
	text-align: left;
	padding-left: 60px;
	position: relative;
}
.popup-original__item-undertitle::before{
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	background: #FF9900;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}
.popup-original__item-img-advantage {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 8px;
}
.popup-original__item-img-advantage img{
	width: 100%;
	height: 100%;
}
.popup-original__item-descr {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
}

.click-popup__open{
	display: block;
}

.original__warning {
	background: linear-gradient(190deg, transparent 449px, rgb(255 255 255 / 80%) 0) bottom left;
	padding-top: 19px;
	padding-bottom: 118px;
	z-index: 2;
	position: relative;
}
.warning__wr {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	position: relative;
	padding: 30px 56px 103px 30px;
	overflow: hidden;
}
.warning__title {
	font-weight: 700;
	text-align: left;
	margin-left: 365px;
	margin-bottom: 16px;
	position: relative;
	z-index: 5;
}
.warning__title span{
	color: #FF4D00;
}
.warning__descr {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	text-align: left;
	margin-left: 420px;
	margin-bottom: 143px;
	position: relative;
	z-index: 5;
}
.warning__undertitle {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 30px;
	position: relative;
	z-index: 5;
}
.warning__underdescr {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	text-align: left;
	max-width: 670px;
	position: relative;
	z-index: 5;
}
.warning__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
.warning__img-img1 {
	position: absolute;
	width: 468px;
	height: 468px;
	top: -66px;
	left: -18px;
}

.warning__img-img2 {
	position: absolute;
	width: 312px;
	height: 312px;
	right: 67px;
	bottom: -17px;
}
.warning__img-img3 {
	position: absolute;
	display: flex;
	top: 429px;
	left: 769px;
}

.warning__img-img1 img,
.warning__img-img2 img,
.warning__img-img3 img{
	width: 100%;
	height: 100%;
}
.warning__img-img3 img{
	width: 63px;
	height: 63px;
}
.warning__img-img3 img + img{
	margin-left: 35px;
}
.original__bg-corner{
	bottom: 195px;
}
.original__pepper,
.original__meat,
.original__onion,
.original__stew,
.original__kazan5 {
	position: absolute;
	z-index: 5;
}
.original__pepper img,
.original__meat img,
.original__onion img,
.original__stew img,
.original__kazan5 img {
	width: 100%;
	height: 100%;
}
.original__pepper {
	width: 390px;
	height: 292px;
	top: 196px;
	left: -79px;
}
.original__meat {
	width: 662px;
	height: 489px;
	top: 650px;
	left: -167px;
}
.original__onion {
	width: 255px;
	height: 272px;
	top: 137px;
	right: -59px;
}
.original__stew {
	width: 563px;
	height: 434px;
	top: 634px;
	right: -308px;
}
.original__kazan5 {
	width: 273px;
	height: 364px;
	bottom: 27px;
	right: -106px;
}

/*=============ИНФОРМАЦИОННАЯ ПОЛОСА=======*/

.information-line {
	position: relative;
	background: #FF9900;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	padding: 21px 0 21px 0;
}
.information-line__title {
	color: #FFFFFF;
	text-align: center;
}
.information-line__title span{
	font-weight: 700;
}
.information-line__title4{
	font-size: 42px;
}
.information-line__title3{
	text-align: left;
}
.information-line__title3 span + span{
	font-weight: 400;
	text-decoration: line-through;
	text-decoration-color: red;
	-moz-text-decoration-color: red;
}
.information-line__img{
	width: 257px;
	height: 123px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -36px;
}

/*=========КАТАЛОГ=============*/


.katalog {
	position: relative;
}
.katalog1,
.katalog3{
	background: #fff;
	overflow: hidden;
}
.katalog1 .bg1{
	height: 65%;
	opacity: 0.3;
}
.katalog2 .bg1{
	opacity: 0.3;
}
.katalog1{
	padding-top: 50px;
	padding-bottom: 202px;
}

.katalog2 {
	padding-top: 50px;
}
.katalog1__tomate{
	position: absolute;
	width: 362px;
	height: 242px;
	top: 27px;
	right: -112px;
}
.katalog1__tomate img{
	width: 100%;
	height: 100%;
}
.katalog__title {
	font-weight: bold;
}
.katalog__descr{
	font-size: 24px;
	max-width: 670px;
	margin-top: 20px;
}
.katalog2 .katalog__title,
.katalog3 .katalog__title{
	font-family: 'Montserrat', sans-serif;
	max-width: 800px;
}
.katalog3{
	padding-top: 50px;
	padding-bottom: 750px;
}

.katalog__popup {
	display: flex;
	margin-left: 176px;
	position: relative;
}
.katalog3 .katalog__popup{
	margin-left: 0;
}
.katalog__popup-btn1 {
	margin-top: 40px;
	margin-bottom: 50px;
	cursor: pointer;
	font-family: 'Gilroy', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	text-decoration-line: underline;
	color: #FF9900;
	position: relative;
}
.katalog__popup-btn2 {
	margin-top: 40px;
	margin-bottom: 50px;
	margin-left: 50px;
	cursor: pointer;
	font-family: 'Gilroy', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	text-decoration-line: underline;
	color: #FF9900;
	position: relative;

}
.katalog__line {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 7px 0 6px 31px;
	display: flex;
	align-items: center;
}
.katalog__line-img {
	width: 67px;
	height: 67px;
	border: 1px solid #FF9900;
	border-radius: 50%;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 22px;
}
.katalog__line-img img{
	width: 50px;
	height: 50px;
}
.katalog__line-title {
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	text-align: left;
	margin-right: 20px;
}
.katalog__line-title span{
	font-weight: 400;
}
.katalog__line-descr{
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;

}

.katalog__wr {
	padding-bottom: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.katalog3 .katalog__wr{
	display: block;
	padding-bottom: 70px;
	padding-right: 1060px;
	overflow: hidden;
}
.katalog3  .owl-stage-outer{
	overflow: visible;
}
.katalog__katalog-item {
	width: 330px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 20px 20px 15px 20px;
	margin-top: 30px;
	position: relative;
}
.katalog3 .katalog__katalog-item {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.katalog__katalog-item:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.katalog2 .katalog__katalog-item{
	margin-top: 50px;
}
.katalog-item__slider {
	border-radius: 10px;
	height: 200px;
	width: 290px;
	background: #C4C4C4;
	overflow: hidden;
}
.katalog-item__slider div{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.katalog-item__slider img{
	width: 100%;
	height: 100%;
}
.katalog-item__arrow {
	position: absolute;
	z-index: 9;
	top: 105px;
	width: 100%;
	left: 0;
}
.katalog-item__arrow-left,
.katalog-item__arrow-right {
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 0;
}
.katalog-item__arrow-left{
	left: 30px;
}
.katalog-item__arrow-right{
	right: 30px;
}
.katalog-item__arrow-left img,
.katalog-item__arrow-right img {
	width: 100%;
	height: 100%;
}

.katalog-item__slider-slide1 {
}
.katalog-item__slider-slide2 {
}
.katalog-item__slider-slide3 {
}
.katalog-item__title {
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
.katalog2 .katalog-item__title{
	margin-bottom: 20px;
}
.katalog-item__descr {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	position: relative;
}
.katalog2 .katalog-item__descr{
	font-weight: 700;
}
.katalog2 .katalog-item__descr::before{
	content: none;
}
.katalog-item__descr::before{
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url(../img/katalog-person.png);
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.katalog-item__box {
	background: #F8F8F8;
	border-radius: 10px;
	padding: 3px 10px 13px 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.katalog2 .katalog-item__box{
	margin-top: 5px;
	margin-bottom: 20px;
}
.katalog-item__box-text {
	padding-top: 7px;
	padding-bottom: 8px;
	display: flex;
	justify-content: space-between;
}
.katalog-item__box-text + .katalog-item__box-text{
	border-top: 1px solid rgb(0 0 0 / 35%);
}
.box-text__left {
	padding-left: 10px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	position: relative;
}
.box-text__left::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #FF9900;
	left: -5px;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.box-text__right {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
}
.katalog-item__price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.katalog2 .katalog-item__price{
	margin-bottom: 32px;
}
.katalog-item__price-old {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	opacity: 0.5;
	text-decoration: line-through;
	text-decoration-color: red;
	-moz-text-decoration-color: red;
	padding: 0 13px;
}
.katalog2 .katalog-item__price-old{
	padding: 0 5px;
}
.katalog-item__price-wr {
	background: #FFFFFF;
	border: 1px solid #FF9900;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 5px 1px 5px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.katalog-item__price-new {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
}
.katalog-item__price-text {
	width: 102px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2;
	margin-left: 10px;
}
.katalog-item__btn-buy {
	background: #FF4D00;
	box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8),
	0px 0px 0px 3px #FF4D00;
	border-radius: 30px;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	padding: 7px 69px;
	border: 1px solid #FFFFFF;
}
.katalog-item__btn-add {
	width: 50px;
	height: 50px;
	background: #FF9900;
	border-radius: 50%;
	position: relative;
	top: -7px;
	margin-left: 18px;
}
.katalog3-katalog__wr .katalog-item__btn-add img{
	width: 25px;
	display: inline-block;
}
.katalog-item__btn-add-number {
	position: absolute;
	background: #000;
	color: #fff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 20px;
	font-weight: 700;
	top: -5px;
	right: -5px;
}

.katalog__detail {
	margin-top: 20px;
	margin-bottom: 20px;
}
.katalog__detail-wr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	cursor: pointer;
	position: relative;
}
.katalog__detail-wr + .katalog__detail-wr{
	padding-bottom: 0;
	padding-top: 10px;
	border-top: 1px solid rgb(0 0 0 / 50%);
}
.katalog__detail-wr-wr {
	display: flex;
	align-items: center;
}
.katalog__detail-img1 {
	width: 20px;
	height: 20px;
	background: #FF9900;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 10px;
}
.katalog__detail-text {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
}
.katalog__detail-img2 {
}

.katalog-item__text{
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.katalog3 .owl-dots .owl-dot{
	width: 20px;
	height: 20px;
	background: #FF9900;
	opacity: 0.5;
	border-radius: 50%;
}
.katalog3 .owl-dots .owl-dot + .owl-dot{
	margin-left: 20px;
}
.katalog3 .owl-dots .active{
	background: #FF9900;
	opacity: 1;
}
.katalog3 .owl-dots{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/*============КОМПЛЕКТ==========*/

.complect {
	position: relative;
	background: #fff;
	height: 208px;
}
.container__complect{
	height: 100%;
}
.complect__wr {
	position: absolute;
	left: 0;
	bottom: 80px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 30px 28px 29px 30px;
	display: flex;
}
.complect__left {
	width: 391px;
	padding-right: 21px;
	border-right: 1px solid rgb(0 0 0 / 50%);
}
.complect__title {
	font-weight: bold;
	font-size: 24px;
}
.complect__left-descr {
	margin-top: 20px;
}
.complect__complect-right {
	margin-left: 59px;
}
.complect-right__wr {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.complect-right__item {
	position: relative;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 80px 19px 13px 18px;
	text-align: center;
	width: 140px;
}
.complect-right__item + .complect-right__item{
	margin-left: 48px;
}
.complect-right__item:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

}
.complect-right__item-img {
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translate(-50%, -50%);
}
.complect-right__item-text {
	font-size: 14px;
}

/*===========ТАБЫ=======*/

.tab {
	position: relative;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 100px;
}
.tab .bg1 {
	opacity: 0.3;
}
.tab__title {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	max-width: 800px;
	margin-bottom: 30px;
}
.tab__control {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.control__wr {
	width: 225px;
	position: relative;
}
.control__wr:hover{
	background: #FF9900;
	border-radius: 10px;
}
.control__wr +.control__wr::before{
	content: "";
	position: absolute;
	width: 1px;
	height: 60px;
	background: rgb(0 0 0 / 50%);
	top: 50%;
	transform: translateY(-50%);
	left: -6px;
}
.control__item {
	display: flex;
	padding: 25px 0;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.active__tab{
	background: #FF9900;
}
.control__item-img {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}
.control__item-title {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
}
.tab__element {
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	position: relative;
	padding: 41px 43px 75px 650px;
	margin-top: 30px;
}
.element__informationbox {
	display: flex;
	margin-bottom: 31px;
}
.informationbox__wr {
	width: 50%;
	padding-right: 13px;
}
.informationbox__wr + .informationbox__wr{
	padding-right: 0;
	padding-left: 27px;
	border-left: 1px solid rgb(0 0 0 / 50%);
}
.informationbox__title {
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
}
.informationbox__descr {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	padding-top: 17px;
	margin-bottom: 10px;
}
.informationbox__name {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.informationbox__name-img {
	width: 50px;
	height: 50px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.informationbox__name-text {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
}
.informationbox__text {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	padding-bottom: 61px;
}
.element__undertitle {
	display: flex;
	border-top: 1px solid rgb(0 0 0 / 50%);
	margin-bottom: 20px;
}
.element__undertitle-text {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	padding-top: 20px;
	width: 50%;
}
.element__btn {
	margin-top: 59px;
	text-align: center;
}
.pricechoose-item{
	display: none;
}
.element__pricebox {
	display: flex;
	align-items: center;
}
.pricebox {
}
.element__pricebox .pricebox__pricechoose{
	margin-left: 120px;
}
.pricebox__select select{
	background: #FBFBFA;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
	padding: 15px 70px 16px 20px;
}
.pricebox__pricechoose {
}
.pricechoose-item__wr {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FFFFFF;
	border: 1px solid #f8f8f8;
	box-sizing: border-box;
	border-radius: 10px;
}
.pricechoose-item__old {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	opacity: 0.5;
	text-decoration: line-through;
	text-decoration-color: red;
	margin-right: 10px;
	margin-left: 10px;
}
.pricechoose-item__wr-wr {
	background: #FFFFFF;
	box-shadow: 0 0 0 2px #FF9900;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 15px;
}
.pricechoose-item__new {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
	margin-right: 5px;
}
.pricechoose-item__text {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2;

}
.element__slider {
	position: absolute;
	width: 550px;
	height: 550px;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	padding: 50px;
}
.element__slider .katalog-item__arrow{
	top: 50%;
}
.element__slider-wr {
}
.element__slider-item1 {
}
.element__slider-item2 {
}
.element__slider-item3 {
}

.katalog3 .pricechoose-item{
	display: none;
}
.katalog3__pricebox{
	display: block;
}

.katalog3__pricebox .pricebox__select select{
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	padding: 15px 0 15px 10px;
	width: 100%;
}
.katalog3__pricebox .pricebox__pricechoose{
	margin-left: 0;
}
.katalog3__pricebox .pricechoose-item__wr-wr {
	padding: 5px 10px;
}
.katalog3__pricebox .pricechoose-item__new {
	font-size: 22px;
}
.katalog3__pricebox .pricechoose-item__old {
	font-size: 16px;
}
.katalog3__pricebox .pricechoose-item__wr {
	margin-top: 30px;
	margin-bottom: 35px;
}
/*============4 причины=====*/


.cause {
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
}
.cause .bg1 {
	opacity: 0.3;
}
.cause__wr{
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	padding: 50px 0 46px 0;
	position: relative;
	z-index: 5;
}
.cause__title {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 36px;
}
.cause__descr {
	font-size: 24px;
	margin-bottom: 30px;
	max-width: 720px;
}
.cause__wr-wr {
	display: flex;
}
.cause__wr-wr + .cause__wr-wr{
	margin-top: 60px;
	margin-left: 50px;
}
.cause__item {
	display: flex;
}
.cause__item-img {
	width: 100px;
	height: 100px;
	background: #FF9900;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.cause__item-img:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.cause__item-text{
	width: 335px;
}
.cause__item-title {
	font-weight: bold;
	font-size: 24px;
	margin-top: 14px;
	margin-bottom: 10px;
}
.cause__item-descr {
}
.cause__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.cause__img-pepper {
	position: absolute;
	width: 292px;
	height: 218px;
	top: 282px;
	left: -99px;
}
.cause__img-man {
	position: absolute;
	width: 548px;
	height: 548px;
	top: 22px;
	right: 197px;
	z-index: 3;
}
.cause__img-man:hover{
	transform: scale(1.05);
}
.cause__img-tomate {
	position: absolute;
	width: 362px;
	height: 242px;
	bottom: -22px;
	right: -107px;
	z-index: 4;
}
.cause__img-pepper img,
.cause__img-man img,
.cause__img-tomate img{
	width: 100%;
	height: 100%;
}








